# Ignore build support 
**/bin/
**/obj/

# Ignore ONLY local secrets
appsettings.Development.json

# Node / Vite 
node_modules
dist
dist-ssr

# Logs
*.log 

# Ignore publish output
publish/

# Ignore built frontend output
wwwroot/